header {
    height: 80px;
}

main {
    height: calc(100vh - 140px);
    overflow-y: auto;
    background-color: #e4ca41;
}

footer {
    background-color: green;
    height: 60px;
}

.logo {
    width: 80px;
    height: 70px;
}

.logo img {
    width: 100%;
}

.grid {
    width: 700px;
    height: 700px;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:crosshair;
}

.checked {
    background-color: grey;
    color:white;
}

.bomb {
    background-color: red;
    color:white;
}

.unchecked {
    background-color:#215068;
}